* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* IE, Edge and Firefox */
  }
}

$w: white;
$red: #ff3333;
$red-op: rgba(255, 51, 51, 0.8);
$blue: #0099ff;
$blue-op: rgba(0, 153, 255, 0.8);
$green: #339966;
$green-op: rgba(51, 153, 102, 0.8);
$bluedark: #006699;
$bluedark-op: rgba(0, 102, 153, 0.8);

$jelly : all .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
$jelly2 : all .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);



.header {
  position: fixed;
  display: flex;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0 60px;
  align-items: center;
  justify-content: space-between;
  .icon {
    height: 40px;
    img {
      height: 100%;
    }
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .menu {
      position: relative;
      margin-left: 40px;
      cursor: pointer;
      img {
        height: 55px;
      }
      .box-lines {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 20px;
        height: 16px;
        transform: translate(-50%, -50%);
        .line {
          position: absolute;
          width: 100%;
          height: 3px;
          background: $w;
          border-radius: 1px;
          transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.5s;
        }
        .top {
          top: 0;
        }
        .mid {
          top: 42%;
        }
        .bot {
          top: 90%;
        }
        &.active {
          .top {
            top: 50%;
            transform: rotate(45deg);
          }
          .mid {
            display: none;
          }
          .bot {
            top: 50%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.main-bg {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  img {
    height: 100%;
  }
}
.insto {
  overflow: hidden;

  &_wrapper {
    position: relative;
    display: flex;
    height: 100vh;
  }

  &_slide {
    position: relative;
    display: flex;
    align-items: center;
    // width: 100vw;
    &.one {
      width: 20%;
    }
    &.two {
      // background: #22a7f060;
      width: 20%;
    }
    &.three {
      // background: #f9690e60;
      width: 25%;
    }
    &.four {
      width: 10%;
    }
    &.five {
      // background: #9b59b660;
      width: 25%;
    }
  }

  &_content {
    width: 100%;
    height: 100%;
  }

  &_title,
  &_subtitle {
    position: relative;
  }
}

.msg-group {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 50%;
  left: 42%;
  .msg {
    position: absolute;
    width: 400px;
    bottom: 150%;
    left: -20%;
    opacity: 0;
    padding: 20px;
    line-height: 1.4;
    padding-right: 60px;
    border-radius: 20px;
    background: white;
    transition: $jelly2;
    transform: scale(0);
    transform-origin: left bottom;
    img {
      position: absolute;
      top: -30%;
      left: 80%;
      width: 50%;
    }
    &.-a {
      left: 150%;
      top: -40%;
      bottom: unset;
      transform-origin: left top;
      img {
        top: -18%;
        left: 42%;
        width: 60%;
      }
    }
    &.close {
      transform: scale(1);
      opacity: 1;
    }
  }
  .pulse-btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    transform: scale(0);
    transition: $jelly;
    animation: pulse 1.2s infinite cubic-bezier(0.3, 0, 0, 1);
    &:hover, &:focus {
      transform: scale(1.4);
    }
    .kedip {
      height: 100%;
      width: 100%;
      z-index: 1;
      object-fit: cover;
      object-position: 0px 0;
      overflow: hidden; 
      transition: $jelly;
      animation: kedip 5s infinite steps(150) forwards;
      &:hover, &:focus {
        transform: scale(1.4);
      }
    }
    &.-buka {
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: $jelly;
      &:hover, &:focus {
        transform: scale(1.4);
      }
      img {
        top: unset;
        left: unset;
        width: 35%;
        margin: 5px 0 3px 0;
        transform: translate(0,0);
      }
      p {
        font-size: 12px;
        width: 60%;
        color: white;
        text-align: center;
      }
    }
    &.red {
      background: $red;
      box-shadow: 0 0 0 0 $red-op;
    }
    &.green {
      background: $green;
      box-shadow: 0 0 0 0 $green-op;
    }
    &.blue {
      background: $blue;
      box-shadow: 0 0 0 0 $blue-op;
    }
    &.bluedark {
      background: $bluedark;
      box-shadow: 0 0 0 0 $bluedark-op;
    }
  }
  &.top {
    top: 40%;
  }
  &.left {
    left: 20%;
  }
  &.center {
    left: 50%;
  }
}
@keyframes kedip {
  from {
    object-position: 0px 0;
  }
  to {
    object-position: calc(-60*150px) 0;
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}


// .wrapper {
//   height: 100vh;
//   overflow: hidden;
// }
// .sections {
//   width: 500%;
//   height: 100%;
  
//   .main-bg {
//     position: absolute;
//     height: 100%;
//     left: 0;
//     top: 0;
//     img {
//       height: 100%;
//     }
//   }
//   .section {
//     position: relative;
//     display: flex;
//     float: left;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//     &.one {
//       width: 21%;
//     }
//     &.two {
//       // background: #22a7f060;
//       width: 21%;
//     }
//     &.three {
//       // background: #f9690e60;
//       width: 25%;
//     }
//     &.four {
//       width: 10%;
//     }
//     &.five {
//       // background: #9b59b660;
//       width: 23%;
//     }
//   }
// }
// .sectionTitle {
//   font-size: 80px;
//   color: $red;
// }
