* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* IE, Edge and Firefox */
  }
}

$w: white;
$red: #ff3333;
$red-op: rgba(255, 51, 51, 0.8);
$blue: #0099ff;
$blue-op: rgba(0, 153, 255, 0.8);
$purple: #523091;
$green: #339966;
$green-op: rgba(51, 153, 102, 0.8);
$bluedark: #006699;
$bluedark-op: rgba(0, 102, 153, 0.8);

$jelly : all .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
$jelly2 : all .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);

$ts: -3px -3px 0 #fff, -3px -2px 0 #fff, -3px -1px 0 #fff, -3px 0px 0 #fff, -3px 1px 0 #fff, -3px 2px 0 #fff, -3px 3px 0 #fff, -2px -3px 0 #fff, -2px -2px 0 #fff, -2px -1px 0 #fff, -2px 0px 0 #fff, -2px 1px 0 #fff, -2px 2px 0 #fff, -2px 3px 0 #fff, -1px -3px 0 #fff, -1px -2px 0 #fff, -1px -1px 0 #fff, -1px 0px 0 #fff, -1px 1px 0 #fff, -1px 2px 0 #fff, -1px 3px 0 #fff, 0px -3px 0 #fff, 0px -2px 0 #fff, 0px -1px 0 #fff, 0px 0px 0 #fff, 0px 1px 0 #fff, 0px 2px 0 #fff, 0px 3px 0 #fff, 1px -3px 0 #fff, 1px -2px 0 #fff, 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff, 1px 2px 0 #fff, 1px 3px 0 #fff, 2px -3px 0 #fff, 2px -2px 0 #fff, 2px -1px 0 #fff, 2px 0px 0 #fff, 2px 1px 0 #fff, 2px 2px 0 #fff, 2px 3px 0 #fff, 3px -3px 0 #fff, 3px -2px 0 #fff, 3px -1px 0 #fff, 3px 0px 0 #fff, 3px 1px 0 #fff, 3px 2px 0 #fff, 3px 3px 0 #fff;

.header {
  position: fixed;
  display: flex;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0 60px;
  align-items: center;
  justify-content: space-between;
  .icon {
    height: 40px;
    img {
      height: 100%;
    }
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .menu {
      position: relative;
      margin-left: 40px;
      cursor: pointer;
      img {
        height: 55px;
      }
      .box-lines {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 20px;
        height: 16px;
        transform: translate(-50%, -50%);
        .line {
          position: absolute;
          width: 100%;
          height: 3px;
          background: $w;
          border-radius: 1px;
          transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.5s;
        }
        .top {
          top: 0;
        }
        .mid {
          top: 42%;
        }
        .bot {
          top: 90%;
        }
        &.active {
          .top {
            top: 50%;
            transform: rotate(45deg);
          }
          .mid {
            display: none;
          }
          .bot {
            top: 50%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.main-bg {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  img {
    height: 100%;
  }
}

.insto-start {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: $blue;

  #loader {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    .box-loader {
      position: relative;
      top: 50%;

      transform: translateY(-50%);
      .dot {
        width: 20px;
        height: 20px;
        background: $w;
        margin-right: 5px;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
  #start {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0;
    transition: 5s;
    overflow: hidden;
    .box-img {
      position: relative;
      display: flex;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: 3s;
      flex-direction: column;
      .sky-bg {
        height: auto;
        width: 100%;
      }
      .start-bg {
        height: 100vh;
        width: auto;
      }
    }
    .box-text {
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      z-index: 2;
      text-align: center;
      .inner-wrapper {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      h2 {
        position: relative;
        text-shadow: $ts;
        font-size: 40px;
        color: $green;
        margin-bottom: 50px;
      }
      .start-btn {
        cursor: pointer;
        border: none;
        color: $bluedark;
        background: $w;
        font-size: 20px;
        padding: 10px 40px 7px 40px;
        transition: .3s;
        border-radius: 6px;
        box-shadow: 4px 4px 0 gray;
        &:hover {
          color: $w;
          background-color: $blue-op;
        }
        &:active {
          color: $w;
          background-color: $green;
          box-shadow: 2px 2px 0 gray;
          transform: translate(4px, 4px);
        }
      }
    }
  }
}

// -- main interactive
.insto {
  overflow: hidden;
  // display: none;

  &_wrapper {
    position: relative;
    display: flex;
    height: 100vh;
  }

  &_slide {
    position: relative;
    display: flex;
    align-items: center;
    // width: 100vw;
    &.one {
      width: 20%;
    }
    &.two {
      // background: #22a7f060;
      width: 20%;
    }
    &.three {
      // background: #f9690e60;
      width: 25%;
    }
    &.four {
      width: 10%;
    }
    &.five {
      // background: #9b59b660;
      width: 25%;
    }
  }

  &_content {
    width: 100%;
    height: 100%;
  }

  &_title,
  &_subtitle {
    position: relative;
  }
}

.insto-bike-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 3;
  overflow: hidden;

  #insto-bike {
    position: absolute;
    top: 80%;
    left: 18%;
    width: 26%;
    z-index: 2;
    overflow: hidden;
    transform: translateY(-50%);
  }
}

.msg-group {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 50%;
  left: 42%;
  .msg {
    position: absolute;
    width: 400px;
    bottom: 150%;
    left: -20%;
    opacity: 0;
    padding: 20px;
    line-height: 1.4;
    padding-right: 60px;
    border-radius: 20px;
    background: $w;
    transition: $jelly2;
    transform: scale(0);
    transform-origin: left bottom;
    img {
      position: absolute;
      top: -30%;
      left: 80%;
      width: 50%;
    }
    &.-a {
      left: 150%;
      top: -40%;
      bottom: unset;
      transform-origin: left top;
      img {
        top: -18%;
        left: 42%;
        width: 60%;
      }
    }
    &.close {
      transform: scale(1);
      opacity: 1;
    }
  }
  .pulse-btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    transform: scale(0);
    transition: $jelly;
    animation: pulse 1.2s infinite cubic-bezier(0.3, 0, 0, 1);
    &:hover, &:focus {
      transform: scale(1.4);
    }
    .kedip {
      height: 100%;
      width: 100%;
      z-index: 1;
      object-fit: cover;
      object-position: 0px 0;
      overflow: hidden;
      transition: $jelly;
      animation: kedip 5s infinite steps(150) forwards;
      &:hover, &:focus {
        transform: scale(1.4);
      }
    }
    &.-buka {
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: $jelly;
      &:hover, &:focus {
        transform: scale(1.4);
      }
      img {
        top: unset;
        left: unset;
        width: 35%;
        margin: 5px 0 3px 0;
        transform: translate(0,0);
      }
      p {
        font-size: 12px;
        width: 60%;
        color: $w;
        text-align: center;
      }
    }
    &.red {
      background: $red;
      box-shadow: 0 0 0 0 $red-op;
    }
    &.green {
      background: $green;
      box-shadow: 0 0 0 0 $green-op;
    }
    &.blue {
      background: $blue;
      box-shadow: 0 0 0 0 $blue-op;
    }
    &.bluedark {
      background: $bluedark;
      box-shadow: 0 0 0 0 $bluedark-op;
    }
  }
  &.top {
    top: 40%;
  }
  &.left {
    left: 20%;
  }
  &.center {
    left: 50%;
  }
}

@keyframes kedip {
  from {
    object-position: 0px 0;
  }
  to {
    object-position: calc(-60*150px) 0;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
