* {
  margin: 0;
  padding: 0;
  outline: none;
}

@font-face {
  font-family: 'Tommy Soft Bold';
  src: url('../assets/fonts/MADETommySoft-Bold.eot');
  src: url('../assets/fonts/') format('embedded-opentype'),
    url('../assets/fonts/MADETommySoft-Bold.woff2') format('woff2'),
    url('../assets/fonts/MADETommySoft-Bold.woff') format('woff'),
    url('../assets/fonts/MADETommySoft-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MADE Tommy Soft';
  src: url('../assets/fonts/MADETommySoft-Black.eot');
  src: url('../assets/fonts/MADETommySoft-Black.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/MADETommySoft-Black.woff2') format('woff2'),
    url('../assets/fonts/MADETommySoft-Black.woff') format('woff'),
    url('../assets/fonts/MADETommySoft-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tommy Soft';
  src: url('../assets/fonts/MADETommySoft.eot');
  src: url('../assets/fonts/MADETommySoft.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/MADETommySoft.woff2') format('woff2'),
      url('../assets/fonts/MADETommySoft.woff') format('woff'),
      url('../assets/fonts/MADETommySoft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


$white: white;
$red: #ff3333;
$red-op: rgba(255, 51, 51, 0.8);
$blue: #0099ff;
$blue-op: rgba(0, 153, 255, 0.8);
$purple: #523091;
$green: #339966;
$green-op: rgba(51, 153, 102, 0.8);
$bluecool: #effbff;
$bluedry: #7DDAF9;
$bluedark: #006699;
$bluedark-op: rgba(0, 102, 153, 0.8);

$tommyBlack: 'MADE Tommy Soft';
$tommyBold: 'Tommy Soft Bold';
$tommy: 'Tommy Soft';
$darkblue: #006699;
$green: #339966;

$jelly1 : all .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
$jelly2 : all .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);

$text_shadow: -3px -3px 0 #fff, -3px -2px 0 #fff, -3px -1px 0 #fff, -3px 0px 0 #fff, -3px 1px 0 #fff, -3px 2px 0 #fff, -3px 3px 0 #fff, -2px -3px 0 #fff, -2px -2px 0 #fff, -2px -1px 0 #fff, -2px 0px 0 #fff, -2px 1px 0 #fff, -2px 2px 0 #fff, -2px 3px 0 #fff, -1px -3px 0 #fff, -1px -2px 0 #fff, -1px -1px 0 #fff, -1px 0px 0 #fff, -1px 1px 0 #fff, -1px 2px 0 #fff, -1px 3px 0 #fff, 0px -3px 0 #fff, 0px -2px 0 #fff, 0px -1px 0 #fff, 0px 0px 0 #fff, 0px 1px 0 #fff, 0px 2px 0 #fff, 0px 3px 0 #fff, 1px -3px 0 #fff, 1px -2px 0 #fff, 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff, 1px 2px 0 #fff, 1px 3px 0 #fff, 2px -3px 0 #fff, 2px -2px 0 #fff, 2px -1px 0 #fff, 2px 0px 0 #fff, 2px 1px 0 #fff, 2px 2px 0 #fff, 2px 3px 0 #fff, 3px -3px 0 #fff, 3px -2px 0 #fff, 3px -1px 0 #fff, 3px 0px 0 #fff, 3px 1px 0 #fff, 3px 2px 0 #fff, 3px 3px 0 #fff;

.app-wrapper {
  position: relative;
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  &-sky {
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-home,
  &-shadow,
  &-road {
    position: absolute;
    top: 450px;
    left: 0;
    height: 100vh;

    & > div {
      display: flex;
      height: 100%;
      transition: .2s;
    }

    img {
      height: 100%;
    }
  }

  &-shadow {
    z-index: 1;
    transition: 10s ease;
  }

  &-home {
    z-index: 2;
    transition: 8s ease;
  }

  &-road {
    z-index: 3;
    transition: 8s ease;
  }

  &-cloud {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    animation: wind 40s linear infinite;
    background: url(../assets/images/cloud/cloud.png) 0, 100px;
  }

  @keyframes wind {
    0% {
      background-position: 0 100px;
    }

    100% {
      background-position: 1000px 100px;
    }
  }
}

.splash {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 300px;
  text-align: center;
  transition: 1s;
  transform: translate(-50%, -50%);

  &.hide {
    opacity: 0;
    z-index: -1;
  }

  #main-title {
    font-family: $tommyBlack;
    display: flex;
    color: $green;
    font-size: 70px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    justify-content: center;
    text-shadow: $text_shadow;

    &>span:nth-child(1),
    span:nth-child(11) {
      margin-top: 5px;
    }

    &>span:nth-child(2),
    span:nth-child(9) {
      margin-top: 2px;
    }

    &>span:nth-child(10) {
      margin-top: 3px;
    }
  }

  button {
    font-family: $tommyBold;
    transition-delay: 1000;
    padding: 6px 40px;
    cursor: pointer;
    font-size: 24px;
    color: $darkblue;
    transition: 0.5s;
    background: white;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 4px 4px gray;
    opacity: 0;
    transition: 2s ease;

    &.show {
      opacity: 1;
    }

    &:focus,
    &:hover,
    &:active {
      color: white;
      background: $darkblue;
      border-color: $darkblue;
      box-shadow: 0px 0px gray;
    }
  }
}

#character {
  position: fixed;
  left: -100%;
  width: 26%;
  bottom: 5%;
  z-index: 1;
  z-index: 4;
  transition: 8s ease;

  &.show {
    left: 14%;
  }

  @media (max-width: 768px) {
    width: 45%;
  }
}

.scroll-wrapper {
  z-index: 5;
  width: 100%;
  height: 100%;

  .scene-wrapper {
    position: fixed;
    width: 10000vh;
    height: 100vh;
    display: flex;
  }
  
  .scrollbar-track {
    opacity: 0 !important;
  }
}

.stories {
  position: absolute;
  width: 1000vw;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
  display: none;

  .scene {
    &-1 {
      position: relative;
      width: 20%;
      // width: 180vw;

      .msg-group {
        left: 70%;
      }
    }

    &-2 {
      position: relative;
      width: 25%;
      // width: 200vw;

      .msg-group:nth-child(1) {
        left: 35%;
        .btn-sprite.-b {
          background: $green;
        }
      }
      .msg-group:nth-child(2) {
        left: 60%;
        .msg {
          background: $bluecool;
        }
        .btn-sprite.-b {
          background: $blue;
        }
      }
    }

    &-3 {
      position: relative;
      width: 25%;
      // width: 300vw;

      .msg-group:nth-child(1) {
        left: 35%;
      }
      .msg-group:nth-child(2) {
        left: 70%;
        .msg {
          background: $bluedry;
        }
        .btn-sprite.-b {
          background: $blue;
        }
      }
    }

    &-4 {
      position: relative;
      width: 30%;
      // width: 200vw;

      .msg-group:nth-child(1) {
        left: 35%;
      }
      .msg-group:nth-child(2) {
        left: 60%;
        .msg {
          background: $bluedry;
        }
        .btn-sprite.-b {
          background: $blue;
        }
      }
    }
  }
}


.msg-group {
  position: absolute;
  top: 50%;

  .msg {
    position: absolute;
    padding: 20px;
    width: 260px;
    left: 0;
    bottom: 100px;
    line-height: 1.4;
    border-radius: 15px;
    opacity: 0;
    transition: $jelly2;
    transform: scale(0);
    transform-origin: left bottom;

    p {
      font-size: 0;
      font-family: $tommy;
      transition: $jelly2;
      transition-delay: 0.3s;
    }

    h5 {
      font-size: 16px;
      font-family: $tommyBold;
    }

    .wrap {
      position: absolute;
      img {
        width: 0;
        transition: $jelly2;
        transition-delay: 0.5s;
      }
    }

    &.product {
      padding: 30px 180px 30px 30px;

      p {
        color: $blue;
      }
      h5 {
        color: $darkblue;
      }
      .wrap {
        bottom: 10%;
        width: 45%;
        left: 55%;
        text-align: center;
      }
    }

    &.desc {
      background: white;
      padding: 25px 100px 25px 30px;

      p {
        color: $green;
      }
      
      .wrap {
        bottom: 15%;
        left: 80%;
        width: 45%;
      }
    }

    &.active {
      opacity: 1;
      transform: scale(1);

      p {
        font-size: 16px;
      }
      .wrap img {
        width: 100%;
      }
    }
  }

  .pulse-btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    transform: scale(0);
    transition: $jelly1;
    animation: pulse 1.2s infinite cubic-bezier(0.3, 0, 0, 1);
    &:hover, &:focus {
      transform: scale(1.4);
    }
    .kedip {
      height: 100%;
      width: 100%;
      z-index: 1;
      object-fit: cover;
      object-position: 0px 0;
      overflow: hidden;
      transition: $jelly1;
      animation: kedip 5s infinite steps(150) forwards;
      &:hover, &:focus {
        transform: scale(1.4);
      }
    }
    &.-buka {
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: $jelly1;
      &:hover, &:focus {
        transform: scale(1.4);
      }
      img {
        top: unset;
        left: unset;
        width: 35%;
        margin: 5px 0 3px 0;
        transform: translate(0,0);
      }
      p {
        font-size: 12px;
        width: 60%;
        color: $white;
        text-align: center;
      }
    }
    &.red {
      background: $red;
      box-shadow: 0 0 0 0 $red-op;
    }
    &.green {
      background: $green;
      box-shadow: 0 0 0 0 $green-op;
    }
    &.blue {
      background: $blue;
      box-shadow: 0 0 0 0 $blue-op;
    }
    &.bluedark {
      background: $bluedark;
      box-shadow: 0 0 0 0 $bluedark-op;
    }
  }
  
}


.btn-sprite {
  // position: absolute;
  cursor: pointer;
  // top: 50%;
  width: 75px;
  height: 75px;
  // transition: 0.5s;
  // transform: translate(-50%, -50%);

  &.-a {
    transition: 0.25s;
    background-size: auto 75px;
    background-image: url(../assets/images/eye/reg.png);
    animation: sprite 5s infinite steps(150) forwards;
  }

  &.-b {
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    img {
      width: 36%;
    }

    p {
      color: white;
      font-size: 12px;
      padding: 5px 20% 0;
      line-height: 1;
      font-family: $tommyBold;
    }

  }
}

.pop-full {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    padding: 40px 60px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background: $bluedry;

    & > p {
      color: white;
      font-size: 16px;
      font-family: $tommy;
      line-height: 1.4;
      padding-bottom: 12px;
      .bold {
        font-family: $tommyBold;
      }

      &:nth-child(3) {
        width: 60%;
      }
    }
  }

  .amaran {
    position: relative;
    padding: 50px 0 10px;
    font-family: $tommy;

    & > P {
      font-size: 10px;
      padding-bottom: 6px;
    }

    &.dry-eye {
      background: #1C92B8;
      .amaran-card.regular {
        display: none;
      }
      .note .regular {
        display: none;
      }
    }

    &.regular {
      background: #72BE51;
      .amaran-card.dry-eye {
        display: none;
      }
      .note .dry-eye {
        display: none;
      }
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .wrap {
        width: 32.5%;

        .pin {
          margin: 6px 0;
          font-size: 10px;
        }
        &:nth-child(2) .pin {
          text-align: center;
        }

        &:nth-child(3) .pin {
          text-align: right;
        }
      }

      img {
        position: absolute;
        width: 150px;
        right: 0;
        top: -39%;
      }
    }

    &-card {
      display: flex;
      height: 50px;
      padding: 5px 10px;
      align-items: center;
      justify-content: center;
      border: 1px solid #444444;
      margin-bottom: 10px;

      &:nth-child(2) {
        margin-bottom: 0;
      }

      &.bg-blue {
        background: #1C92B8;
      }

      &.bg-green {
        background: #72BE51;
      }

      img {
        width: 40px;
        margin-right: 5px;
      }

      p {
        font-size: 8px;
        line-height: 1.4;
        color: white;
        margin: 0;
        text-align: center;
      }
    }
  }
}


@keyframes sprite {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -22500px;
  }
}

@keyframes kedip {
  from {
    object-position: 0px 0;
  }
  to {
    object-position: calc(-60*150px) 0;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
